<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net461" />
  <package id="Simplify.Resources" version="1.0.1" targetFramework="net461" />
  <package id="Simplify.Windows.Forms" version="1.1.0" targetFramework="net461" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net461" />
  <package id="Unity" version="5.11.10" targetFramework="net461" />
  <package id="UnityEngine" version="1.0.0" targetFramework="net461" />
</packages>