<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Interop.SolidEdge" version="219.0.0" targetFramework="net461" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.2" targetFramework="net461" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net461" />
  <package id="Newtonsoft.Json.Bson" version="1.0.2" targetFramework="net461" />
  <package id="Simplify.Resources" version="1.0.1" targetFramework="net461" />
  <package id="Simplify.Windows.Forms" version="1.1.0" targetFramework="net461" />
  <package id="SolidEdge.Community" version="219.0.0" targetFramework="net461" />
  <package id="SolidEdge.Community.AddIn" version="219.0.0" targetFramework="net461" />
  <package id="SolidEdge.Community.Reader" version="2.0.0" targetFramework="net461" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net461" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net461" />
  <package id="System.Memory" version="4.5.4" targetFramework="net461" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net461" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net461" />
  <package id="System.Text.Json" version="4.7.1" targetFramework="net461" />
  <package id="System.Threading.Channels" version="4.7.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net461" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net461" />
  <package id="Unity" version="5.11.10" targetFramework="net461" />
  <package id="UnityEngine" version="1.0.0" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
</packages>